<%= form_for(@detail) do |f| %>
  <% if @detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
      <% @detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :idFood %><br>
    <%= f.number_field :idFood %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_field :ingredients %>
  </div>
  <div class="field">
    <%= f.label :directions %><br>
    <%= f.text_field :directions %>
  </div>
  <div class="field">
    <%= f.label :history %><br>
    <%= f.text_field :history %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
