<p id="notice"><%= notice %></p>

<p>
  <strong>Idfood:</strong>
  <%= @image.idFood %>
</p>

<p>
  <strong>Image:</strong>
  <%= @image.image %>
</p>

<p>
  <strong>Mainimage:</strong>
  <%= @image.mainimage %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
